/* Home Banner */

.home-banner-in {
  display: flex;
}
.home-banner-in .left {
  width: 26%;
  display: flex;
  padding-right: 10px;
  align-items: center;
}
.home-banner-in .left h1 {
  font-weight: 400;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #3e2c25;
}
.home-banner-in .center {
  width: 45%;
  position: relative;
}
.home-banner-in .right {
  width: 30%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.home-banner-in .right p {
  line-height: 110%;
  letter-spacing: -0.02em;
  max-width: 36ch;
}
.home-banner-in .right p .big-pink {
  font-size: 32px;
  padding-right: 5px;
}
.home-banner-in .center .pink-card {
  position: absolute;
  right: -40px;
  bottom: 32px;
  width: 180px;
  height: 185px;
}
.home-banner-in .center .pink-card h3 {
  font-size: 18px;
  line-height: 138%;
}
.home-banner-img {
  aspect-ratio: 1/1.07;
  overflow: hidden;
}
/* Home Banner */

/* Home Chapter 1 */

.home-chapter-1 {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.home-chapter-1-in {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home-chapter-1-in .inner-card {
  width: 538px !important;
  height: calc(100vh - 130px);
  background-color: #f7f0e8;
  padding: 58px 26px 32px 26px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  will-change: width, height;
  overflow: hidden;
}

.fold-1 {
  height: 100vh;
  min-height: unset;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 60px;
}
.fold-2 {
  height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.home-chapter-1 .inner-card::before {
  content: "";
  background-image: url("../images/home-chapter-1-bg.png");
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-chapter-1 .inner-card > * {
  position: relative;
  z-index: 3;
}
.home-chapter-1-in .inner-card .brand-logo {
  max-width: 292px;
}
.home-chapter-1-in .inner-card h3 {
  font-size: clamp(32px, 5vw, 62px);
  font-style: italic;
  font-weight: 400;
  color: #3e2c25;
}
.home-chapter-1-in .inner-card .scroll-down {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home-chapter-1-in .inner-card .icon-o {
  width: 75px;
  height: 79px;
}
.home-chapter-1-in .inner-card .scroll-down p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--mono);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text-brown);
}

.chapter-quote {
  font-size: 45.5px;
  line-height: 120%;
  letter-spacing: 0em;
  font-weight: 400;
  text-align: center;
  max-width: 18ch;
  margin: 0 auto;
  font-family: var(--times);
}
.chapter-quote .big-pink {
  font-size: 63px;
}
/* Home Chapter 1 */
/* Home Chapter 2 */

.home-chapter-2 p span.big-pink {
  padding-right: 0px;
}
.home-chapter-2 .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}
.home-chapter-2 .top-left {
  max-width: 500px;
  width: 100%;
}
.home-chapter-2 .top-right {
  width: calc(100% - 500px);
}
.home-chapter-2 .top-right p {
  max-width: 62ch;
  margin-left: auto;
}
.home-chapter-2-in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
.home-chapter-2 .learn-more-cta.desktop {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.home-chapter-2 .learn-more-cta.mobile {
  display: none;
}
.home-chapter-2 p.eyebrow-head {
  margin-bottom: 10px;
}
/* Home Chapter 2 */

/* Contact Form Section */
.contact-section {
  position: relative;
}
.contact-section .contact-bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.contact-section-in {
  position: relative;
  z-index: 2;
  padding: 45px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-section-in .right {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-bottom: 30px;
}
.contact-form-top {
  padding: 40px 46px;
  background-color: #f7f0e8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.contact-form-top::before {
  content: "";
  background-image: url("../images/home-chapter-1-bg.png");
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-form-top > * {
  position: relative;
  z-index: 2;
}
.contact-form-top h2 {
  font-size: clamp(26px, 5vw, 42px);
  line-height: 100%;
  letter-spacing: -0.03em;
  font-weight: 400;
  color: #3b2922;
  max-width: 16ch;
}
.contact-form-top .eyebrow-head {
  font-size: 12px;
}
.contact-form-top p:not(.eyebrow-head) {
  font-size: 14px;
  font-family: var(--inter);
  letter-spacing: 0.03em;
  line-height: 138%;
  font-weight: 400;
  color: #3b2922;
  max-width: 46ch;
}

.contact-form-main {
  background-color: #c1cbd5;
  padding: 36px 46px;
}
.contact-form-main h3 {
  font-family: var(--playwrite);
  font-weight: 200;
  letter-spacing: -0.01em;
  line-height: 108%;
  color: #3e2c25;
  font-size: clamp(32px, 5vw, 46px);
  text-align: center;
}

.contact-form-outer {
  max-width: 538px;
  width: 100%;
}
.contact-section .pink-card.blue h3 {
  line-height: 155%;
  font-size: 16px;
  letter-spacing: 0em;
}
.contact-section .pink-card.blue {
  padding: 24px 10px;
}
/* Contact Form Section Ends*/
/* Certification */
.certification-ticker {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.certification-ticker p {
  text-align: center;
}
.certification-ticker img {
  max-width: 230px;
  max-height: 50px;
  height: auto;
  width: auto;
}
.certification-ticker-wrap {
  display: flex;
  align-items: center;
  gap: 100px;
}
.certification-ticker li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
}
/* Certification Ends */
/* Pre-Footer Form */
.pre-footer {
  background-color: var(--skyblue);
  padding: 38px 0px;
}

.pre-footer-in {
  display: flex;
}
.pre-footer-in .top {
  padding: 70px 50px;
}
.pre-footer-in h2 {
  font-size: clamp(32px, 4vw, 52px);
  max-width: 14ch;
  line-height: 100%;
}
.pre-footer-in .left {
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 30px;
}
.pre-footer-in .right {
  width: 43%;
}
.pre-footer-img {
  aspect-ratio: 1.1/1;
}
.pre-footer-form {
  background-color: #f7f0e8;
}
form#news-update {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
form#news-update input {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 117%;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--mono);
  padding: 18px 15px;
  width: 100%;
}
form#news-update input[type="text"],
form#news-update input[type="email"] {
  background-color: #fff;
  border-right: 0.42px solid #d4d4d4;
  color: #3e2c25;
}
form#news-update input[type="text"]::placeholder,
form#news-update input[type="email"]::placeholder {
  color: #3e2c25;
  text-align: center;
}
form#news-update input[type="submit"] {
  background-color: #3b2922;
  font-size: 12px;
  color: #f7f0e8;
  cursor: pointer;
  transition: 0.4s ease all;
  letter-spacing: 4px;
}
form#news-update input[type="submit"]:hover {
  background-color: var(--pink);
}
form#news-update label {
  display: none;
}
.pre-footer-in .bottom {
  padding: 30px 50px;
}
.pre-footer-in .bottom p {
  font-family: var(--inter);
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 125%;
  color: #2c1d17;
  font-weight: 400;
  max-width: 71ch;
}
.pre-footer-in .right .eyebrow-head {
  display: none;
}
/* Pre-Footer Form Ends */
/* Insta Section */
.insta-frame-in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 14px;
}
.insta-frame-in .insta-image {
  width: 100%;
  height: 100%;
}
.insta-section .heading {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* Insta Section Ends */

/* Explore Way  */
.explore-ways-in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  row-gap: 30px;
}
.explore-ways .heading {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* Explore Way Ends */
/* Chapter 3 Meet */
.chapter3-meet {
  background-color: #3e2c25;
  position: relative;
  padding-top: 90px;
  padding-bottom: 60px;
}
.chapter3-meet::before {
  content: "";
  background-image: url("../images/meetBG.png");
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
}
.chapter3-meet > * {
  position: relative;
  z-index: 2;
}
.chapter3-meet-in {
  display: flex;
  gap: 72px;
}
.chapter3-meet-in .left {
  width: 60%;
}
.chapter3-meet-in .right {
  width: 40%;
  position: relative;
}
.chapter3-meet-in .top {
  margin-bottom: 20px;
}
.chapter3-meet-in .top .eyebrow-head {
  color: #f7f0e7;
  margin-bottom: 10px;
}
.chapter3-meet-in .top h2 {
  color: #f7f0e7;
  text-transform: uppercase;
  font-size: clamp(50px, 6vw, 120px);
}
.chapter3-meet-in .right p {
  color: #f7f0e7;
}
.meet-img {
  max-height: 485px;
  overflow: hidden;
}
.chapter3-meet-in .right p {
  line-height: 138%;
  letter-spacing: -0.03em;
  font-size: 24px;
}
.chapter3-meet-in .right .big-pink {
  padding-right: 5px;
  font-size: 42px;
}
.chapter3-meet-in .right .pink-card {
  position: absolute;
  right: 0;
  bottom: 0;
}
.meet-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 220px;
}
.chapter3-meet-in .pink-card {
  padding: 24px 12px;
}
/* Chapter 3 Meet */
/* Error Page */
.error-page-main {
  position: relative;
  padding: 0px 20px;
}
.error-page-main::before {
  content: "";
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/error.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: darken;
  opacity: 36%;
}
.error-page-main > * {
  position: relative;
  z-index: 2;
}
.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.error-img {
  width: 60vw;
  max-width: 875px;
}
.error-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  align-items: center;
  margin-top: 70px;
  padding: 0px 20px;
}
.error-content h3 {
  font-size: clamp(28px, 5vw, 36px);
  font-style: italic;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #3e2c25;
  font-weight: 400;
}
.error-content p {
  font-size: 16px;
  font-family: var(--mono);
  line-height: 119%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #3e2c25;
  font-weight: 500;
}
/* Error Page */
/* Thankyou Page */
.thankyou-card {
  background-color: var(--skyblue);
  padding: 100px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.thankyou-card .error-content {
  margin-top: 0px;
  gap: 40px;
}
.thankyou-card h2 {
  font-family: var(--playwrite);
  font-weight: 200;
  color: #3e2c25;
  line-height: 138%;
  font-size: clamp(40px, 5vw, 80px);
}
.thankyou-card p {
  font-size: 22px;
  max-width: 32ch;
}
/* Thankyou Page */
/* Legal Page */
.legal-page {
  max-width: 690px;
  margin: 0 auto;
  padding: 0px 20px;
}
.legal-page h3 {
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.01em;
  padding-bottom: 20px;
}
.legal-page h2 {
  line-height: 130%;
  padding-bottom: 20px;
}
.legal-page h1 {
  font-size: clamp(28px, 5vw, 62px);
  line-height: 130%;
}
.legal-page h4 {
  font-size: 28px;
  line-height: 130%;
}
.legal-page h5 {
  font-size: 24px;
  line-height: 130%;
}
.legal-page h6 {
  font-size: 22px;
  line-height: 130%;
}
.legal-page p,
.legal-page li {
  padding-bottom: 20px;
  font-family: var(--inter);
  color: #6b6b6b;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: 140%;
  font-weight: 400;
}
.legal-page a {
  display: inline-block;
  cursor: pointer;
  transition: 0.4s ease all;
  text-underline-offset: 2px;
}
.legal-page a:hover {
  color: var(--skyblue);
}
.legal-page ul,
.legal-page ol {
  padding-left: 20px;
}
/* Legal Page */
/* Referral Page */
.referr-card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  row-gap: 40px;
}
.referr-card-wrap .referral-card:nth-child(even) {
  background-color: #322017;
}
.referr-card-wrap .referral-card:nth-child(even) p,
.referr-card-wrap .referral-card:nth-child(even) h3 {
  color: #f7f0e8;
}
.referrals-page .referr-banner {
  margin-bottom: 95px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.referrals-page .referr-banner::before {
  content: "";
  background-image: url("../images/referr-banner-bg.png");
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
  opacity: 36%;
}
.referrals-page .referr-banner > * {
  position: relative;
  z-index: 2;
}
.referrals-page .referr-banner .referr-pink-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  background-color: var(--pink);
  width: 80%;
}
.referr-banner .heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.referr-banner .heading h1 {
  font-size: clamp(42px, 7vw, 80px);
  color: #3e2c25;
  line-height: 100%;
}
.referr-banner .heading p {
  font-size: 16px;
  color: #3b2922;
  line-height: 138%;
  letter-spacing: 0.02em;
  font-family: var(--inter);
  font-weight: 400;
  max-width: 68ch;
}
/* Referral Page */
.contact-component-wrap {
  display: flex;
}
.contact-form-main {
  position: relative;
}
.contact-form-top {
  height: 100%;
  margin-top: auto;
}
.bottom-email-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
