/* Pink Card Starts */
.pink-card {
  background-color: var(--pink);
  padding: 24px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  width: 200px;
  height: 200px;
  transform: rotate(25deg);
}
.pink-card.blue {
  background-color: var(--skyblue);
}
.pink-card h3 {
  font-family: var(--playwrite);
  font-weight: 200;
  line-height: 119%;
  letter-spacing: -0.03em;
  font-size: 20.92px;
  color: #3e2c25;
}
.pink-card p {
  font-family: var(--mono);
  font-weight: 400;
  line-height: 119%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-size: 12px;
  color: #3e2c25;
}
/* Pink Card End  */
/* We Work Card  */
.way-work-card {
  aspect-ratio: 4.2/6;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.way-work-card .way-work-card-img {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: #fff;
}
.way-work-card .way-work-card-img .img {
  transform: scale(1);
  transition: transform 0.8s ease;
}
.way-work-card:hover .way-work-card-img .img {
  transform: scale(0.8);
}
.way-work-card-inner {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  pointer-events: none;
}
.way-work-card .card-title {
  background: #fff;
  font-size: 26px;
  font-weight: 400;
  color: #1a1a1a;
  padding: 18px 20px;
  margin: 0;
  opacity: 0;
  transform: translateY(-100%);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}
.way-work-card .card-desc {
  background: #fff;
  font-size: 14px;
  color: #1a1a1a;
  padding: 16px 20px;
  margin: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}
.way-work-card:hover .card-title,
.way-work-card:hover .card-desc {
  opacity: 1;
  transform: translateY(0);
}
.card-default-strip {
  position: absolute;
  bottom: 42px;
  left: 0;
  right: 0;
  z-index: 3;
  background: #fff;
  padding: 16px 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.card-default-strip h3 {
  font-size: 32px;
  font-weight: 400;
  color: #1a1a1a;
  letter-spacing: -0.01em;
  line-height: 103%;
  text-align: center;
}
.way-work-card:hover .card-default-strip {
  opacity: 0;
}
.way-work-card:hover .card-title {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  opacity: 1;
  color: #3e2c25;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
}
.way-work-card:hover .card-desc {
  opacity: 1;
  font-size: 16px;
  font-family: var(--inter);
  letter-spacing: 0.03em;
  line-height: 117%;
  color: #2c1d17;
  font-weight: 400;
  padding-left: 10%;
  padding-bottom: 45px;
  padding-right: 10%;
}
.way-work-card:hover .card-default-strip {
  opacity: 0;
  transition: opacity 0.8s ease;
}
/* We Work Card  */
/* Insta Frame */
.insta-frame {
  position: relative;
  padding: 58px 62px;
  background-color: #efe6dc;
  height: 100%;
  width: 100%;
  aspect-ratio: 4.3/5;
}
.insta-frame .insta-icon {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 29px;
  height: 29px;
}
.insta-frame .insta-image {
  overflow: hidden;
}
.insta-frame .insta-image img {
  object-position: top;
  transition: 0.4s ease all;
}
.insta-frame-card > a .insta-icon svg path {
  transition: 0.4s ease all;
}
.insta-frame-card > a:hover .insta-icon svg path {
  fill: var(--pink);
}
.insta-frame-card > a:hover .insta-image img {
  transform: scale(1.05);
}
/* Insta Frame */
/* Hanging Card */

.hanging-card .eye-head {
  font-family: var(--mono);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 117%;
  font-weight: 500;
}
.hanging-card h3 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0em;
  font-weight: 400;
  color: #3e2c25;
}
.hanging-card p:not(.eye-head) {
  font-family: var(--inter);
  font-size: 16px;
  line-height: 117%;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: #2c1d17;
  margin-bottom: 20px;
  margin-top: 5px;
  max-width: 38ch;
}
.hanging-card-content {
  padding-top: 20px;
}
.hanging-card-img {
  aspect-ratio: 4.2/ 5.6;
}
.hanging-card {
  transition: 1s ease all;
}
.hanging-card:nth-child(2).hanged {
  padding-top: 30px;
}
.hanging-card:nth-child(3).hanged {
  padding-top: 80px;
}
/* Hanging Card */
/* Referral Card */
.referral-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  padding: 36px 28px;
  background-color: #fff;
}
.referral-card .top{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.referral-card .top h3{
  font-size: 25.65px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #1a1a1a;
}
.referral-card .top p{
font-size: 14.8px;
font-family: var(--inter);
letter-spacing: 0.02em;
line-height: 117%;
font-weight: 400;
color: #5D5D5D;
}
.referral-card .bottom{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.referral-card .bottom p{
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-size: 9.6px;
  line-height: 119%;
  color: #1a1a1a;
  font-weight: 500;
  font-family: var(--inter);
}
/* Referral Card */
@media screen and (max-width: 1200px) {
  .insta-frame {
    padding: 45px 40px;
  }
  .insta-frame .insta-icon {
    width: 20px;
    height: 20px;
  }
  .hanging-card p:not(.eye-head) {
    font-size: 14px;
  }
  .hanging-card h3 {
    font-size: 28px;
  }
  .hanging-card .primary-btn {
    font-size: 10px;
    padding: 10px 18px;
  }
  .way-work-card:hover .card-title{
    font-size: 26px;
  }
  .way-work-card:hover .card-desc{
    font-size: 14px;
  }
  .card-default-strip h3{
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .pink-card {
    width: 132px;
    height: 140px;
  }
  .pink-card h3 {
    font-size: 14px;
  }
  .pink-card p {
    font-size: 12px;
  }
  .insta-frame {
    padding: 40px 30px;
    aspect-ratio: 4/5.3;
  }
  .insta-frame .insta-icon {
    width: 18px;
    height: 18px;
    top: 10px;
    right: 10px;
  }
  .hanging-card h3 {
    font-size: 26px;
  }
}
