/* Pink Card Starts */
.pink-card {
  background-color: var(--pink);
  padding: 24px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  width: 200px;
  height: 200px;
  transform: rotate(25deg);
}
.pink-card.blue{
  background-color: var(--skyblue);
}
.pink-card h3 {
  font-family: var(--playwrite);
  font-weight: 200;
  line-height: 119%;
  letter-spacing: -0.03em;
  font-size: 20.92px;
  color: #3e2c25;
}
.pink-card p {
  font-family: var(--mono);
  font-weight: 400;
  line-height: 119%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-size: 12px;
  color: #3e2c25;
}
/* Pink Card End  */
/* We Work Card  */
.way-work-card {
  aspect-ratio: 4.2/6.7;
  max-width: 429px;
  width: 100%;
  position: relative;
}
.way-work-card .white-strip {
  background-color: #fff;
  position: absolute;
  bottom: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.way-work-card .white-strip h3 {
  font-size: 32px;
  line-height: 103%;
  letter-spacing: -0.01em;
  color: #1a1a1a;
  font-weight: 400
}
/* We Work Card  */
/* Insta Frame */
.insta-frame{
  position: relative;
  padding: 58px 62px;
  background-color: #EFE6DC;
}
.insta-frame .insta-icon{
  position: absolute;
  top: 15px;
  right: 15px;
}
.insta-frame .insta-image{
  position: absolute;
  top: 15px;
  right: 15px;
}
/* Insta Frame */
@media screen and (max-width: 767px) {
  .pink-card{
    width: 132px;
    height: 140px;
  }
  .pink-card h3 {
    font-size: 14px;
  }
  .pink-card p {
    font-size: 12px;
  }
}
